<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="main-content">
  <div class="container-fluid">

    <div class="row">
        <div class="col-md-4">
            <div class="card card-chart">
              
              <div class="card-body">
                <h1>#{{accademiClass.name}}</h1>
                <p class="card-category">Class</p>
                <h4 class="card-title">{{accademiClass.grade.number}}ª</h4> 
                <p class="card-category">Sala</p>
                <h4 class="card-title">{{accademiClass.room.number}} - ({{accademiClass.students.length}}/{{accademiClass.room.size}})</h4>
                <p class="card-category">Periodo</p>
                <h4 class="card-title">{{accademiClass.period.name}}</h4>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">access_time</i> campaign sent 2 days ago
                </div>
              </div>
            </div>
          </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Finanças</h4>
            <p class="card-category">
              <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated 4 minutes ago
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart" id="completedTasksChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Aproveitamento</h4>
            <p class="card-category">Last Campaign Performance</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> campaign sent 2 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
                <div class="nav-tabs-navigation">
                    <div class="row">
                        <div class="col-md-10 nav-tabs-wrapper">
                          <span class="nav-tabs-title">Tasks:</span>
                          <ul class="nav nav-tabs" data-tabs="tabs">
                              <li class="nav-item">
                                  <a mat-button class="nav-link active" href="#studentes" data-toggle="tab">
                                      <i class="material-icons">contacts</i> Alunos
                                      <div class="ripple-container"></div>
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                      <i class="material-icons">art_track</i> Disciplinas
                                      <div class="ripple-container"></div>
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                      <i class="material-icons">date_range</i> Horário
                                      <div class="ripple-container"></div>
                                  </a>
                              </li>
  
                          </ul>
                        </div>
                      <div class="col-md-2">
                        <button (click)='openAddSutdentModal()' data-target="#myModal" data-toggle="modal"  class="waves-effect waves-light btn pull-right">
                          <i class="material-icons left" style="margin: -6px 5px !important;
                          margin-left: -10px !important">add </i> Registar Aluno</button></div>
                           
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="studentes">
                        <table class="table table-hover">
                            <thead class="text-warning">
                              <th>Número</th>
                              <th>Nome</th>
                              <th>Genero</th>
                              <th>Aproveitamento</th>
                              <th>Finaças</th>
                              <th></th>
                            </thead>
                            <tbody>
                                <tbody *ngFor="let student of accademiClass.students">                   
                                    <tr>
                                        <td>
                                            {{student.code}}
                                        </td>
                                        <td>
                                            {{student.person.firstName}} 
                                            {{student.person.middleName}} 
                                            {{student.person.lastName}}
                                        </td>
                                        <td>
                                            {{student.person.sex.name}}
                                        </td>
                                        <td>
                                            89%
                                        </td>
                                        <td>
                                            92%
                                        </td>
                                        <td class="text-primary">
                                            <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                                <a [routerLink]="['/student/details/'+student.id]" routerLinkActive="router-link-active"  class="secondary-content pull-right"><i class="material-icons">send</i></a>
                                        </td>
                                    </tr>
                            </tbody>
                          </table>


                      
                    </div>
                    <div class="tab-pane" id="messages">
                        <table class="table">
                          <thead>
                            <tr>
                              <th></th>
                              <th>Código</th>
                              <th>Nome</th>
                              <th>Professor</th>
                              <th></th>
                            </tr>
                          </thead>
                            <tbody  *ngFor="let subject of accademiClass.subjects">
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked>
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>{{subject.subject.code}} </td>
                                    <td>{{subject.subject.name}}</td>
                                    <td>{{subject.professor.person.firstName}} {{subject.professor.person.lastName}}</td>
                                    <td class="td-actions text-right">
                                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="settings">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                    <td class="td-actions text-right">
                                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked>
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                    </td>
                                    <td class="td-actions text-right">
                                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked>
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>Sign contract for "What are conference organizers afraid of?"</td>
                                    <td class="td-actions text-right">
                                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div
        class="modal-dialog " style="max-width:95%; width:800px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Matricular Aluno</h4>
                <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>
            <div class="modal-body">
                <div>
                    <form #heroform="ngForm" *ngIf="true">
                        <div class="row">
                            <div class="col-md-12">
                                
                                    <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Estudante" aria-label="Estudante" [matAutocomplete]="auto" [formControl]="stateCtrl">
                                            <mat-autocomplete #auto="matAutocomplete">
                                              <mat-option *ngFor="let student of filteredStudents | async" [value]="student.person.firstName + ' ' + student.person.middleName + ' ' + student.person.lastName">
                                                <img class="example-option-img" aria-hidden [src]="flag" height="25">
                                                <span>{{student.person.firstName}} {{student.person.middleName}} {{student.person.lastName}}</span>
                                                <small>Código: {{student.code}}</small>
                                              </mat-option>
                                            </mat-autocomplete>
                                          </mat-form-field>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>