<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class=row>
                      <div class="col s6">
                        <h4 class="card-title ">Proofessores</h4>
                            <p class="card-category"> Here is a subtitle for this table</p>
                        </div>
                        <div class="col s6">
                            <a routerLink="/professor/add" class="waves-effect waves-light btn pull-right">
                              <i class="material-icons left" style="margin: -6px 5px !important;
                              margin-left: -10px !important">add </i> Registar</a>
                        </div>
                    </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        
                                    </th>
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Gênero
                                    </th>
                                    <th>
                                        
                                    </th>
                                </thead>
                                <tbody *ngFor="let professor of professors">
                                        
                                    <tr>
                                      <td>
                                        . . .
                                      </td>
                                        <td>
                                            {{professor.person.firstName}}
                                            {{professor.person.middleName}}
                                            {{professor.person.lastName}}
                                        </td>
                                        <td>
                                            {{professor.person.sex.name}}
                                        </td>
                                        <td class="text-primary">
                                                <a [routerLink]="['/professor/details/'+professor.id]" routerLinkActive="router-link-active"  class="secondary-content pull-right"><i class="material-icons">send</i></a>
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  