<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Registar Professor</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                                <mat-horizontal-stepper #stepper labelPosition="bottom">
                                        <mat-step [stepControl]="firstFormGroup">
                                                <form [formGroup]="firstFormGroup">
                                                    <ng-template matStepLabel>Dados Gerais</ng-template>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div>
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput placeholder="Primeiro Nome" formControlName="firstName" required>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div>
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput placeholder="Último Nome"  [(ngModel)]="person.lastName" name="lastName" formControlName="lastName" name="name" required>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
        
                                                        <div class="col-md-6">
                                                            <div>
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput placeholder="Outros Nome" formControlName="middleName" name="name" required>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <mat-form-field>
                                                                <input matInput [matDatepicker]="myDatepicker" class="datepicker" materialize-date-picker matInput placeholder="Data de nascimento"
                                                                     formControlName="birthDate" name="irthDate" required/>
                                                                <mat-datepicker-toggle matSuffix [for]="myDatepicker" ></mat-datepicker-toggle>
                                                                <mat-datepicker #myDatepicker></mat-datepicker>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <mat-form-field>
                                                                    <mat-select placeholder="Sexo" formControlName="sex" name="sex">
                                                                    <mat-option *ngFor="let sex of sexs" [value]="sex">
                                                                        {{ sex.name }}
                                                                    </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                        </div>
                                                        <div class="col-md-6 text-right">
                                                            <button mat-button matStepperNext  class="btn">Próximo <i class="material-icons">keyboard_arrow_right</i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </mat-step>
                                            <mat-step [stepControl]="secondFormGroup">
                                                    <form [formGroup]="secondFormGroup">
                                                        <ng-template matStepLabel>Dados Gerais</ng-template>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div>
                                                                    <mat-form-field>
                                                                        <mat-select placeholder="Tipo de Documento de identidade" formControlName="idCard_idCardType" name="idCard_idCardType">
                                                                        <mat-option *ngFor="let idCardType of idCardTypes" [value]="idCardType">
                                                                            {{ idCardType.name }}
                                                                        </mat-option>
                                                                        </mat-select>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div>
                                                                    <mat-form-field class="example-full-width">
                                                                        <input matInput placeholder="Descrição" formControlName="idCard_description" name="idCard_description">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div>
                                                                        <mat-form-field>
                                                                                <mat-select placeholder="Municipio" formControlName="address_township" name="address_township">
                                                                                <mat-option *ngFor="let township of townships" [value]="township">
                                                                                        {{ township.name }}, {{ township.province.name }}
                                                                                </mat-option>
                                                                                </mat-select>
                                                                            </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div>
                                                                    <mat-form-field class="example-full-width">
                                                                        <input matInput placeholder="Endereço" formControlName="address_description" name="address_description">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div>
                                                                        <mat-form-field>
                                                                                <mat-select placeholder="Naturalidade" formControlName="birthPlace" name="BirthPlace">
                                                                                <mat-option *ngFor="let township of townships" [value]="township">
                                                                                        {{ township.name }}, {{ township.province.name }}
                                                                                </mat-option>
                                                                                </mat-select>
                                                                            </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                            </div>
                                                            <div class="col-md-6 text-right">
                                                                <button mat-button matStepperPrevious class="btn"><i class="material-icons">keyboard_arrow_left</i> Anterior</button>
                                                                <button mat-button matStepperNext  class="btn">Próximo <i class="material-icons">keyboard_arrow_right</i></button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </mat-step>
                                            <mat-step [stepControl]="thirdFormGroup" optional>
                                                <form [formGroup]="thirdFormGroup">
                                                    <ng-template matStepLabel>Contactos</ng-template>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <tbody *ngFor="let contact of model.person.contacts">
                                                                <tr>
                                                                    <td>
                                                                        {{contact.contactType.name}}
                                                                    </td>
                                                                    <td>
                                                                        {{contact.description}}
                                                                    </td>
                                                                    <td class="text-primary"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <button class="btn btn-info btn-xs" data-target="#myModal" data-toggle="modal" type="button">Adiconar Contactos <i class="material-icons">add</i></button>
                                                        </div>
                                                        <div class="col-md-6 text-right">
                                                            <button mat-button matStepperPrevious class="btn"><i class="material-icons">keyboard_arrow_left</i> Anterior</button>
                                                            <button mat-button (click)="onSubmit()" class="btn btn-success">Salvar <i class="material-icons">check</i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </mat-step>
                                        </mat-horizontal-stepper>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal" role="dialog">
                    <div
                        class="modal-dialog " style="max-width:95%; width:800px">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Adiconar Contactos</h4>
                                <button class="close" data-dismiss="modal" type="button">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <form #heroform="ngForm" (ngSubmit)="addContact()" *ngIf="true">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <mat-form-field>
                                                    <mat-select [(ngModel)]="contact.contactType" name="contact" placeholder="Tipo">
                                                        <mat-option *ngFor="let contact of contactTypes" [value]="contact">
                                                            {{contact.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-5">
                                                    <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Descrição"  [(ngModel)]="contact.description" name="description">
                                                        </mat-form-field>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-danger pull-right" mat-raised-button="mat-raised-button" type="submit">Registar</button>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody *ngFor="let contact of model.person.contacts">
                                            <tr>
                                                <td>
                                                    {{contact.contactType.name}}
                                                </td>
                                                <td>
                                                    {{contact.description}}
                                                </td>
                                                <td class="text-primary">
                                                    <a (click)="removeContact(contact)" [routerLink]="" class="secondary-content pull-right" routerLinkActive="router-link-active">
                                                        <i class="material-icons icon-red">close</i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            