<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-chart" style="min-height: 320px"></div>
            </div>
            <div class="col-md-9">
              <div class="card card-chart">
                  <div class="card-body row">
                    <div class="col-md-6">
                      <p class="card-category">Nome</p>
                      <h4>{{student.person.firstName}}
                          {{student.person.middleName}}
                          {{student.person.lastName}}</h4>
                      <p class="card-category">Sexo</p>
                          <h4 class="card-title">{{student.person.sex.name}}</h4>
                      <p class="card-category">Endereço</p>
                      <h4 class="card-title">
                          {{student.person.address.description}},
                          {{student.person.address.township.name}},
                          {{student.person.address.township.province.name}}</h4>
                      <p class="card-category">Naturalidade</p>
                      <h4 class="card-title">
                          {{student.person.birthPlace.name}},
                          {{student.person.birthPlace.province.name}}</h4>
                    </div>
                    <div class="col-md-6">
                      <p class="card-category">Data de Nasciento</p>
                      <h4 class="card-title">
                          {{student.person.birthDate}}</h4>
                          <p class="card-category">
                              {{student.person.idCard.idCardType.name}}</p>
                          <h4 class="card-title">
                              {{student.person.idCard.idCardNumber}}</h4>
                      <div *ngFor="let contact of student.person.contacts">
                          <p class="card-category">
                              {{contact.contactType.name}}</p>
                          <h4 class="card-title">
                              {{contact.description}}</h4>  
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        
        

        <div class="row">

            <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-tabs card-header-primary">
                      <div class="nav-tabs-navigation">
                          <div class="row">
                              <div class="col-md-10 nav-tabs-wrapper">
                                <span class="nav-tabs-title">Tasks:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#studentes" data-toggle="tab">
                                            <i class="material-icons">contacts</i> Turmas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                            <i class="material-icons">art_track</i> Pautas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                            <i class="material-icons">date_range</i> Horário
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
        
                                </ul>
                              </div>
                            <div class="col-md-2">
                              <button (click)='openAddSutdentModal()' data-target="#myModal" data-toggle="modal"  class="waves-effect waves-light btn pull-right">
                                <i class="material-icons left" style="margin: -6px 5px !important;
                                margin-left: -10px !important">add </i> Registar Aluno</button></div>
                                 
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane active" id="studentes">
                              <table class="table table-hover">
                                  <thead class="text-warning">
                                    <th>Número</th>
                                    <th>Nome</th>
                                    <th>Genero</th>
                                    <th>Aproveitamento</th>
                                    <th>Finaças</th>
                                    <th></th>
                                  </thead>
                                  <tbody>
                                      <tbody *ngFor="let student of []">                   
                                          <tr>
                                              <td>
                                                  {{student.code}}
                                              </td>
                                              <td>
                                                  {{student.person.firstName}} 
                                                  {{student.person.middleName}} 
                                                  {{student.person.lastName}}
                                              </td>
                                              <td>
                                                  {{student.person.sex.name}}
                                              </td>
                                              <td>
                                                  89%
                                              </td>
                                              <td>
                                                  92%
                                              </td>
                                              <td class="text-primary">
                                                  <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                      <i class="material-icons">edit</i>
                                                  </button>
                                                  <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                      <i class="material-icons">close</i>
                                                  </button>
                                                      <a [routerLink]="['/student/details/'+student.id]" routerLinkActive="router-link-active"  class="secondary-content pull-right"><i class="material-icons">send</i></a>
                                              </td>
                                          </tr>
                                  </tbody>
                                </table>
      
      
                            
                          </div>
                          <div class="tab-pane" id="messages">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th>Código</th>
                                    <th>Disciplina</th>
                                    <th>Classe</th>
                                    <th>Turma</th>
                                    <th>Ano</th>
                                    <th>Valor</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                  <tbody  *ngFor="let class of student.classes">
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="" checked>
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>{{class.academiClass.number}} </td>
                                          <td>{{class.academiClass.period.name}}</td>
                                          <td>{{class.academiClass.grade.number}}ª</td>
                                          <td>{{class.academiClass.year}}</td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="tab-pane" id="settings">
                              <table class="table">
                                  <tbody>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="" checked>
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                          </td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="" checked>
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>Sign contract for "What are conference organizers afraid of?"</td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>



        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Finanças</h4>
                        <p class="card-category">
                            <span class="text-success">
                                <i class="fa fa-long-arrow-up"></i>
                                55%
                            </span>
                            increase in today sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i>
                            updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Aproveitamento</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i>
                            campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>