<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Registar Nova Turma</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form #heroform="ngForm" *ngIf="false">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nome" [(ngModel)]="model.name" name="name" value="{{model.name}}"></mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Numero(opcional)" [(ngModel)]="model.number" name="number" value="{{model.number}}"></mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-select placeholder="Periodo" [(ngModel)]="model.periodId" name="period" value="{{model.period.id}}">
                                                    <mat-option *ngFor="let period of periods" [value]="period.id">
                                                        {{period.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-select placeholder="Ano Lectivo" [(ngModel)]="model.year" name="year" value="{{model.year}}">
                                                    <mat-option *ngFor="let year of years" [value]="year">
                                                        {{year}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-select placeholder="Classe" [(ngModel)]="model.gradeId" name="year" value="{{model.grade.id}}">
                                                    <mat-option *ngFor="let grade of grades" [value]="grade.id">
                                                        {{grade.number}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-select placeholder="Sala" [(ngModel)]="model.roomId" name="room" value="{{model.room.id}}">
                                                    <mat-option *ngFor="let room of rooms" [value]="room.id">
                                                        {{room.number}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-select [(ngModel)]="model.subjects" [value]="model.subjects" multiple placeholder="Diciplinas {{model.subjects.length}}">
                                                    <mat-select-trigger>
                                                        {{model.subjects.length > 1 ? model.subjects[0] : ''}}
                                                        <span *ngIf="model.subjects.length > 1" class="example-additional-selection">
                                                            (+{{model.subjects.length - 1}}
                                                            {{model.subjects?.length === 2 ? 'other' : 'others'}})
                                                        </span>
                                                    </mat-select-trigger>
                                                    <mat-option *ngFor="let subject of subjects" [value]="subject.id">
                                                        {{subject.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <button class="btn btn-danger pull-right" mat-raised-button="mat-raised-button" type="submit">Registar</button>
                                    <div class="clearfix"></div>
                                </form>
                                <mat-horizontal-stepper #stepper labelPosition="bottom">
                                    <mat-step [stepControl]="firstFormGroup">
                                        <form [formGroup]="firstFormGroup">
                                            <ng-template matStepLabel>Dados Gerais</ng-template>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Nome"  [(ngModel)]="model.name" formControlName="name" name="name" value="{{model.name}}"></mat-form-field>
                                                        </div>
                                                        <div>
                                                            <mat-form-field class="example-full-width">
                                                                <input matInput placeholder="Numero(opcional)" [(ngModel)]="model.number" formControlName="number" name="number" value="{{model.number}}"></mat-form-field>
                                                            </div>
                                                            <div>
                                                                <mat-form-field>
                                                                    <mat-select placeholder="Periodo" [(ngModel)]="model.period" formControlName="period" name="period" value="{{model.period}}">
                                                                        <mat-option *ngFor="let period of periods" [value]="period">
                                                                            {{period.name}}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div>
                                                                <mat-form-field>
                                                                    <mat-select placeholder="Ano Lectivo" [(ngModel)]="model.year" formControlName="year" name="year" value="{{model.year}}">
                                                                        <mat-option *ngFor="let year of years" [value]="year">
                                                                            {{year}}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                            <div>
                                                                <mat-form-field>
                                                                    <mat-select placeholder="Classe" [(ngModel)]="model.grade" formControlName="grade" name="grade" value="{{model.grade}}">
                                                                        <mat-option *ngFor="let grade of grades" [value]="grade">
                                                                            {{grade.number}}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                            <div>
                                                                <mat-form-field>
                                                                    <mat-select placeholder="Sala" [(ngModel)]="model.room" formControlName="room" name="room" value="{{model.room.id}}">
                                                                        <mat-option *ngFor="let room of rooms" [value]="room">
                                                                            {{room.number}}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                        </div>
                                                        <div class="col-md-6 text-right">
                                                                    <button mat-button matStepperNext class="btn">Próximo <i class="material-icons">keyboard_arrow_right</i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </mat-step>
                                            <mat-step [stepControl]="secondFormGroup" optional>
                                                <form [formGroup]="secondFormGroup">
                                                    <ng-template matStepLabel>Disciplinas</ng-template>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class=" text-primary">
                                                                <th>
                                                                    Disciplina
                                                                </th>
                                                                <th>
                                                                    Professor
                                                                </th>
                                                                <th></th>
                                                            </thead>
                                                            <tbody *ngFor="let subject of model.subjects">
                                                                <tr>
                                                                    <td>
                                                                        {{subject.subject.name}}
                                                                    </td>
                                                                    <td>
                                                                        {{subject.professor.person.firstName}}
                                                                        {{subject.professor.person.lastName}}
                                                                    </td>
                                                                    <td class="text-primary"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <button class="btn btn-info btn-xs" data-target="#myModal" data-toggle="modal" type="button">Adiconar Disciplinas <i class="material-icons">add</i></button>
                                                        </div>
                                                        <div class="col-md-6 text-right">
                                                            <button mat-button matStepperPrevious class="btn"><i class="material-icons">keyboard_arrow_left</i> Anterior</button>
                                                            <button mat-button matStepperNext  class="btn">Próximo <i class="material-icons">keyboard_arrow_right</i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </mat-step>
                                            <mat-step>
                                                <ng-template matStepLabel>Concluido</ng-template>
                                                <form [formGroup]="thirdFormGroup">
                                                        <ng-template matStepLabel>Mais informações</ng-template>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                    <mat-form-field>
                                                                            <mat-select [(ngModel)]="model.lider" name="lider"  formControlName="lider" placeholder="Cordenador de Turma">
                                                                                <mat-option *ngFor="let professor of professors" [value]="professor">
                                                                                    {{professor.person.firstName}}
                                                                                    {{professor.person.lastName}}
                                                                                </mat-option>
                                                                            </mat-select>
                                                                        </mat-form-field>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <mat-slide-toggle [(ngModel)]="model.isActive"  formControlName="isActive">Estado Activo</mat-slide-toggle>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                    <p>
                                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                                    </p>
                                                            </div>
                                                            <div class="col-md-6"></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                
                                                            </div>
                                                            <div class="col-md-6 text-right">
                                                                <button mat-button matStepperPrevious class="btn"><i class="material-icons">keyboard_arrow_left</i> Anterior</button>
                                                                <button mat-button (click)="onSubmit()" class="btn btn-success">Salvar <i class="material-icons">check</i></button>
                                                            </div>
                                                        </div>
                                                    </form>
                                            </mat-step>
                                        </mat-horizontal-stepper>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal" role="dialog">
                    <div
                        class="modal-dialog " style="max-width:95%; width:800px">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Adiconar Disciplinas</h4>
                                <button class="close" data-dismiss="modal" type="button">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <form #heroform="ngForm" (ngSubmit)="alocatedSubjectSubmit()" *ngIf="true">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <mat-form-field>
                                                    <mat-select [(ngModel)]="alocatedSubject.subject" name="subject" placeholder="Disciplina">
                                                        <mat-option *ngFor="let subject of subjects" [value]="subject">
                                                            {{subject.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-5">
                                                <mat-form-field>
                                                    <mat-select [(ngModel)]="alocatedSubject.professor" name="professor" placeholder="Professor">
                                                        <mat-option *ngFor="let professor of professors" [value]="professor">
                                                            {{professor.person.firstName}}
                                                            {{professor.person.lastName}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-danger pull-right" mat-raised-button="mat-raised-button" type="submit">Registar</button>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Disciplina
                                            </th>
                                            <th>
                                                Professor
                                            </th>
                                            <th></th>
                                        </thead>
                                        <tbody *ngFor="let subject of model.subjects">
                                            <tr>
                                                <td>
                                                    {{subject.subject.name}}
                                                </td>
                                                <td>
                                                    {{subject.professor.person.firstName}}
                                                    {{subject.professor.person.lastName}}
                                                </td>
                                                <td class="text-primary">
                                                    <a (click)="alocatedSubjectRemove(subject)" [routerLink]="" class="secondary-content pull-right" routerLinkActive="router-link-active">
                                                        <i class="material-icons icon-red">close</i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            