<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class=row>
                      <div class="col s6">
                        <h4 class="card-title ">Estudantes</h4>
                            <p class="card-category"> Here is a subtitle for this table</p>
                        </div>
                        <div class="col s6">
                            <a routerLink="/student/add" class="waves-effect waves-light btn pull-right">
                              <i class="material-icons left" style="margin: -6px 5px !important;
                              margin-left: -10px !important">add </i> Inscrever</a>
                        </div>
                    </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        
                                    </th>
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Gênero
                                    </th>
                                    <th>
                                        Actual
                                    </th>
                                    <th>
                                        
                                    </th>
                                </thead>
                                <tbody *ngFor="let student of students">
                                        
                                    <tr>
                                      <td>
                                        {{student.code}}
                                      </td>
                                        <td>
                                            {{student.person.firstName}}
                                            {{student.person.middleName}}
                                            {{student.person.lastName}}
                                        </td>
                                        <td>
                                            {{student.person.sex.name}}
                                        </td>
                                        <td>
                                            {{studentCurrentSituation(student)}}
                                        </td>
                                        <td class="text-primary">
                                                <a [routerLink]="['/student/details/'+student.id]" routerLinkActive="router-link-active"  class="secondary-content pull-right"><i class="material-icons">send</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  